# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.vs/terminal/FileContentIndex/85f8d28f-ba04-46a6-91c5-2eb0b2f6fcd6.vsidx
.vs/slnx.sqlite
.vs/terminal/CopilotIndices/17.13.430.18484/CodeChunks.db
.vs/terminal/CopilotIndices/17.13.430.18484/CodeChunks.db-shm
.vs/terminal/CopilotIndices/17.13.430.18484/CodeChunks.db-wal
.vs/terminal/CopilotIndices/17.13.430.18484/SemanticSymbols.db
.vs/terminal/CopilotIndices/17.13.430.18484/SemanticSymbols.db-shm
.vs/terminal/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
.vs/terminal/FileContentIndex/8e06e351-f74a-439e-935c-5b4951eefb93.vsidx
.vs/terminal/FileContentIndex/f0a815d8-a7cc-43a2-9175-c802164e833d.vsidx
.vs/terminal/FileContentIndex/c4163f32-9bb2-497f-b680-9fa747772b90.vsidx
